.mint, .transfer {
  display: flex;
  justify-content: space-evenly;
  input {
    width: 400px;
  }
  &_section {
    &_data {
      margin-bottom: 5px;
      &_title {
        margin-right: 3px;
      }
      &_btn {
        margin-left: 3px;
      }
    }
    width: 100%;
    .info-card {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &_branch{
        display: flex;
        align-items: center;
        position: relative;
        width: 30px;
        .circle {
          width: 10px;
          height: 10px;
          border: 3px solid black;
          border-radius: 50%;
          background-color: white;
          &.completed {
            background-color: black;
          }
        }
        .stick {
          width: 4px;
          height: calc( 100% + 90px );
          background-color: black;
          position: absolute;
          top: 12.5px;
          left: 6px;
        }
      }
      &:first-child {
        .stick {
          height: calc( 100% + 55px );
        }
      }
      &:nth-last-child(2) {
        .stick {
            height: calc( 100% + 55px );
        }
      }
      &:nth-last-child(1) {
        .stick {
          display: none;
        }
      }
      &_msg{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: left;
        padding: 10px;
        word-break: break-all;
      }
    }
  }
}

.hide {
  display: none;
}